#ifndef SECRETS_H
#define SECRETS_H

#define APN ""
#define GPRS_USER ""
#define GPRS_PASS ""

#define API_KEY "your_firebase_api_key_here"
#define DATABASE_URL "https://your-project-default-rtdb.firebaseio.com/"
#define USER_EMAIL "your_firebase_auth_email_here"
#define USER_PASSWORD "your_firebase_auth_password_here"

#endif
